/* Lista Espera Resumo CSS - Simplified */

.lista-espera-resumo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header handled by .widget-header in home.css */

.lista-espera-resumo__body {
  padding: 0;
  width: 100%;
}

.lista-espera-resumo__table {
  width: 100%;
}

.lista-espera-resumo__loading,
.lista-espera-resumo__error,
.lista-espera-resumo__empty {
  text-align: center;
  padding: 1rem;
  color: var(--cinza-600);
  font-size: 0.9rem;
}