.agendamento {
  position: relative;
  user-select: none;
  padding: 2rem;
  width: 100%;
}

.week-navigation {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

.table-wrapper {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1;
}

.slot {
  user-select: none;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
}

.slot.selected {
  background-color: #4caf50;
  color: #fff;
}

.slot.dragging {
  background-color: #2196f3;
  color: white;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.modal button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
