:root {
  --branco: #fff;
  --preto: #212529;
  --cinza: #636466;
  --vermelho: #d71c23;
  --vermelho-claro: #e82137;
  --roxo: #7d1474;
  --background: #f8f9fa;
}

/* GRADIENTE */
:root {
  --gradiente1: linear-gradient(to left, #7d1474, #d71c23);
}

/* SOMBRAS */

:root {
  --shadow1: 0 2px 20px rgba(0, 0, 0, 0.1);
}
