.consulta {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.consulta-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.consulta-body {
    flex: 20;
    /* Ocupa o restante do espaço */
    display: flex;
    flex-direction: column;
}

.consulta-tabs {
    /* Nova classe para as abas */
    flex: 0 0 auto;
    /* Altura mínima, não cresce */
}

.consulta-tab-content {
    display: flex;
    gap: 1rem;
    /* Adiciona espaçamento entre os elementos */
}

.consulta-tab-content input {
    border: 1px solid #ccc;
    /* Adiciona uma borda cinza clara */
    border-radius: 4px;
    /* Bordas arredondadas */
    padding: 0.5rem;
    /* Adiciona espaçamento interno */
    font-size: 1rem;
    /* Ajusta o tamanho da fonte */
    outline: none;
    /* Remove o contorno padrão ao focar */
    transition: border-color 0.3s ease;
    /* Animação para o foco */
}

.consulta-tab-content input:focus {
    border-color: #007bff;
    /* Cor da borda ao focar */
}

.search-container {
    /* Nova classe para o container da pesquisa */
    flex: 1;
    /* Ocupa uma parte do espaço */
    padding: 1rem;
}

.table-container {
    /* Nova classe para o container da tabela */
    flex: 6;
    /* Ocupa o dobro do espaço da pesquisa */
    overflow-x: auto;
    /* Permite rolagem horizontal se necessário */
}

table {
    border-collapse: collapse;
    /* Remove espaçamento entre as células */
}

tr:hover {
    background-color: #f5f5f5;
    /* Cor de fundo cinza claro ao passar o mouse */
}

th,
td {
    border: 1px solid #ddd;
    /* Adiciona uma borda de 1px sólida cinza claro */
    padding: 8px;
    /* Adiciona um pouco de espaço interno para melhor visualização */
    text-align: left;
}

.consulta-detalhes {
    width: 100%;
    /* Ajustar a largura conforme necessário */
    margin: 0 auto;
}

.top-section {
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    /* Ajustar a altura conforme necessário */
    background-color: #d71c23;
}

.name-section {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 10px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%; /* Ajuste para ocupar 100% da largura */
    flex: 1;
    /* Ocupa o restante da tela disponível */
}

.left-column,
.right-column {
    background-color: #ddd;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* Ajustar a largura conforme necessário */
}