/* CONTAINER */

.container {
  display: flex;

  max-width: 85%;
  width: 100vw;
  height: 85vh;
  background-color: var(--branco);
  box-shadow: var(--shadow1);
  border-radius: 1rem;
}

/* RESPONSIVO */

@media (max-width: 1024px) {
  .container {
    max-width: 64rem;
    padding-inline: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 48rem;
    padding-inline: 1.25rem;
  }
}
