.pages {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--background);
  background-size: 100% 40%, 100% 40%, 100% 60%;
  background-position: bottom, bottom, top;
  background-repeat: no-repeat, no-repeat, no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
