.equipes-profissionais-relatorio {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--branco);
}

.equipes-profissionais-relatorio__header {
  background-color: #b0171b;
  color: var(--branco);
  padding: 10px;
  text-align: center;
}

.equipes-profissionais-relatorio__header h4 {
  margin: 0;
  font-size: 1rem;
}

.equipes-profissionais-relatorio__body {
  padding: 10px;
}

.equipes-profissionais-relatorio__table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.8rem;
}

.equipes-profissionais-relatorio__table th,
.equipes-profissionais-relatorio__table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.equipes-profissionais-relatorio__table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.equipes-profissionais-relatorio__table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.equipes-profissionais-relatorio__table tr:hover {
  background-color: #f1f1f1;
}
