/* Consulta Resumo CSS - Simplified */

.consulta-resumo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header handled by .widget-header */

.consulta-resumo__body {
  padding: 0;
  width: 100%;
}

.consulta-resumo__table {
  width: 100%;
}

.consulta-resumo__empty {
  text-align: center;
  padding: 1rem;
  color: #888;
  font-size: 0.9rem;
}