.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.agendamento-details {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.agendamento-details h3 {
  margin-bottom: 10px;
}

.details-info {
  margin-bottom: 20px;
}

.details-info div {
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background-color: var(--vermelho-escuro);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #b11318;
}
