/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./styles/container.css');
@import url('./styles/colors.css');

/* ESTILOS GLOBAIS E RESETS */
*,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  appearance: none;
  border: none;
  color: inherit;
  background: none;

  font-family: 'Sora', 'Montserrat', Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h1 > *,
h2 > * {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    120deg,
    var(--roxo) 0%,
    var(--vermelho-escuro) 100%
  );
  overflow: hidden;
}

.app-layout {
  display: flex;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0;
  box-shadow: var(--shadow2);
  overflow: hidden;
  gap: 2rem;
  padding-left: 90px;
}

.content-area {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 1.5rem 2rem 1.5rem 0;
}

.sidebar-container {
  width: 260px;
  flex-shrink: 0;
  background-color: var(--branco);
  border-right: 1px solid #eee;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 4;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;

  animation: fade-in 0.5s forwards ease;
}

.fade-in {
  opacity: 0;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
